<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Content</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=@ViewBag.imgPath alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">@ViewBag.content</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</body>
</html>
